<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.mybatis.simple.mapper.UserMapper">
    <resultMap id="userMap" type="SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info" />
        <result property="headImg" column="head_img" />
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="map" type="map">
        <result property="id" column="id" javaType="double"/>
    </resultMap>

    <select id="selectAll" resultMap="userMap">
        select * from sys_user
    </select>

    <select id="selectAllToMap" resultMap="map">
        select id from sys_user
    </select>

    <insert id="addOne">
        insert into sys_user values (#{id}, #{userName}, #{userPassword}, #{userEmail}, #{userInfo}, #{headImg}, #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="addOneWithIdBack" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(user_name,user_password,user_email,user_info,head_img,create_time) values ( #{userName}, #{userPassword}, #{userEmail}, #{userInfo}, #{headImg}, #{createTime})
    </insert>

    <insert id="addOneWithIdBackInSelectKey">
        insert into sys_user(user_name,user_password,<if test="userEmail != null and userEmail !=''">user_email,</if>user_info,head_img,create_time) values ( #{userName}, #{userPassword}, <if test="userEmail != null and userEmail !=''">#{userEmail},</if> #{userInfo}, #{headImg}, #{createTime})
        <selectKey keyProperty="id" keyColumn="id" resultType="long" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>

    <select id="selectByIdOrUserName" resultMap="userMap">
        select *
        from sys_user
        where 1=1
        <choose>
            <when test="id != null">
                and id = #{id}
            </when>
            <when test="userName !=null and userName != ''">
                and user_name = #{userName}
            </when>
            <otherwise>
                and 1=2
            </otherwise>
        </choose>
    </select>

    <select id="selectByIds" resultMap="userMap">
        select *
        from sys_user
        <where>
        <if test="ids != null and ids.size() gt 0">
        id in
            <foreach collection="ids" open="(" close=")" index="i" item="id" separator=",">
                #{id}+#{i}
            </foreach>
        </if>
        </where>
    </select>

    <select id="selectByMap" resultMap="userMap">
        select *
        from sys_user
        where
        <foreach collection="_parameter" separator="or" item="value"  index="key">
            ${key} = #{value}
        </foreach>
    </select>

    <select id="selectByMap2" resultMap="userMap">
        select *
        from sys_user
        where
        <foreach collection="query" separator="or" item="value"  index="key">
            ${key} = #{value}
        </foreach>
    </select>

    <select id="selectBySysUser" resultMap="userMap">
        <!--select *
        from sys_user
        where
        id in
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>-->
        <bind name="print" value="@tk.mybatis.util.StringUtil@print(_parameter)"/>
        #{print}
    </select>

    <select id="selectBy">
        /**/
        <bind name="print" value="@tk.mybatis.util.StringUtil@print(user)"/>
    </select>

</mapper>