<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="database.properties"/>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <package name="tk.mybatis.simple.model"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.userName}"/>
                <property name="password" value="${mysql.passWord}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--<mapper resource="tk/mybatis/simple/mapper/CountryMapper.xml"/>-->
        <package name="tk.mybatis.simple.mapper"/>
    </mappers>
</configuration>